.menu-button {
  width: 150px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  background-color: var(--button-color);

  &:hover, &:focus {
    background-color: var(--hover-highlight-color);
    box-shadow: 0 4px 10px 0 var(--shadow-color);
  }
}

.nav-button {
  min-width: 100px;
  margin-left: 20px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;

  &:hover, &:focus {
    background-color: var(--hover-highlight-color);
  }
}

.record-buttons {
  max-width: 100vw;
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}

.record-button {
  border-style: none;
  padding: 0.5em 1em;
  margin: 0 2em;
  border-radius: 6px;
  box-shadow: 0 7px 10px 2px var(--shadow-color);
  background-color: var(--feature-element-color);
  color: white;

  &:hover {
    background-color: var(--feature-element-color-faded);
  }

  &:disabled {
    color: rgb(131, 131, 131);
  }
}

.search__buttons {
  width: 340px;
  display: flex;
  justify-content: space-around;
}