:root {
  --main-background-color: rgb(233, 233, 233);
  --feature-element-color: rgb(48, 61, 75);
  --feature-element-color-faded: rgb(80, 115, 151);
  --minor-feature-element-color: rgb(11, 34, 61);
  --shadow-color: rgba(0,0,0,0.4);
  --hover-highlight-color: rgba(255, 255, 255, 0.2);
  --button-color: rgb(187, 196, 201);
  --button-color-faded: rgb(196, 211, 219);
}