.navigation {
  width: 100vw;
  min-width: 1200px;
  min-height: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: var(--feature-element-color);

  & > div:last-child {
    display: flex;
    margin-right: 2rem;
  }

  .nav-button:focus, .nav-button:hover {
    color: black;
    outline: none;
    border-color: var(--feature-element-color-faded);
    box-shadow: 0 0 0 3px var(--feature-element-color-faded);
  }
}