.record-fields-container {
  min-height: 440px;
  width: 1200px;
  min-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.record-fields-background {
  min-height: 450px;
  min-width: 1200px;
  margin: 3rem auto 0;
  background-color: var(--feature-element-color);
  position: relative;
}

.patient-record-component, .tech-record-component {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem 2rem;

  
  &:last-child {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}

.record-upper {
  position: relative;

  & > div {
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    background-color: var(--hover-highlight-color);
    z-index: 0;
  }
}

.record-mid {
  padding-top: 1rem;
  max-height: 25%;
  margin-bottom: 2rem;

  .patient-record-component {
    padding: 0 2rem;
    &:first-child {
      margin-bottom: 1rem;
    }
  }

  .patient-record-component:last-child {
    padding-top: 1rem;
  }
}

.record-lower {
  display: flex;
  min-height: 20vh;
  .description {
    display: flex;
    height: 100%;
  }
}

.record-title {
  // width: 90%;
  // min-width: 1200px;
  font-size: 2em;
  color: white;
  margin-left: 2rem;
  // margin: 1rem auto 0.5rem;
  // border-bottom: 1px solid white;
}

.description label {
  margin-top: 0.5rem;
}

textarea {
  width: 350px;
  height: 165px;
  resize: none;
  padding: 5px 8px;
}

label {
  margin-right: 0.5rem;
}

.record-input {
  width: 200px;
  padding: 0.5rem;
  padding-right: 2rem;  // prevents longer text from extending over the arrow icon
  border-radius: 10px;
  border: none;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  background: url('../images/dropDownBG.png') 90% / 60% no-repeat #fff;

  &:disabled {
    border-radius: 10px;
    padding-right: 0.75rem;
    border: none;
    background: none;
    background-color: var(--button-color-faded);
    color: rgb(0, 0, 0);
  }
}

.input-text-number {
  max-width: 100px;
  text-align: center;
  padding-right: 0.5rem;

  &:disabled {
    background-color: var(--button-color-faded);
  }
}

input:disabled, textarea:disabled {
  color: black;
}


// Issues
.issued-section {
  min-width: 50%;
}

.issued {
  min-height: 165px;
  height: 100%;
  background: rgba(0,0,0,0.2);
  padding: 1rem;
  & > div:first-child {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;

    div {
      width: 60%;
      display: flex;
      justify-content: flex-start;
    }

  }
  &-button {
    border: 1px solid white;
    border-radius: 4px;
    background: none;
    margin-top: -0.5rem;
    margin-left: 2rem;
    padding: 0 0.5rem;
    color: white;
    cursor: pointer;
  }

  &-events {
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    & > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      &:nth-child(2n) {
        background: rgba(255,255,255,0.2);
      }
  
      &:nth-child(2n + 1) {
        background: rgba(255,255,255,0.1);
      }
  
      p {
        width: 12%;
        margin: 0.5rem 0;
        padding: 0;
  
        &:first-child {
          margin-left: 0.5em;
          width: 24%;
        }

        &:nth-child(2) {
          width: 18%;
        }
  
        &:nth-child(3) {
          text-align: center;
          width: 35%;
        }
  
        &:nth-child(4) {
          width: 5%;
        }
      }
  
      div {
        width: 5%;
      }
  
      .delete-issue-button {
        cursor: pointer;
      }
    }
  }
  
}

@media screen and (min-width: 1800px) {
  .record-input {
    width: 300px;
  }

  .input-text-number {
    max-width: 200px;
  }

  .record-fields-background {
    min-width: 1800px;
  }

  .record-fields-container {
    min-width: 1800px;
  }

  textarea {
    width: 600px;
    height: 215px;
  }
}

@media screen and (min-width: 2600px) {
  .record-fields-background {
    min-width: 2800px;
  }

  .record-fields-container {
    min-width: 2800px;
  }

  .record-input {
    width: 350px;
  }

  .input-text-number {
    min-width: 350px;
  }

  textarea {
    width: 750px;
    height: 265px;
  }
}