.record-fields-container {
  min-height: 420px;
  max-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.record-fields-background {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  width: 90vw;
  margin: auto;
  background-color: var(--feature-element-color);
  min-height: 420px;
  position: relative;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100px;
  //   background-color: var(--hover-highlight-color);
  // }
}

.patient-record-component, .tech-record-component {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 2rem 2rem;
}

.record-mid {
  padding-top: 0;
}

.record-lower {
  // flex: 40%;
  display: flex;
  padding-top: 0;
  // padding-bottom: 2rem;
  #description {
    display: flex;
  }
}


.record-title {
  width: 90%;
  font-size: 2rem;
  color: white;
  margin: 1rem auto 0.5rem;
  border-bottom: 1px solid white;
}

textarea {
  width: 350px;
  height: 120px;
  resize: none;
}

label {
  margin-right: 0.5rem;
}

input, select {
  min-width: 120px;
  max-width: 200px;
}

.input-text-number {
  max-width: 100px;
  text-align: center;
}

input:disabled {
  color: black;
  background: rgb(213, 213, 213);
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.5rem;
}

select:disabled {
  color: black;
  background: rgb(213,213,213);
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.6rem;
}

// Issues
.issued {
  // min-height: 100%;
  max-height: 200px;
  background: rgba(0,0,0,0.2);
  padding: 1rem;
  & > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    div {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }

    .issued-button {
      border: 1px solid white;
      border-radius: 4px;
      background: none;
      padding: 0 0.5rem;
      color: white;
      cursor: pointer;
    }
  }
  
}

.issued-section {
  width: 50%;
}

.issued-events {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  & > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:nth-child(2n + 1) {
      background: rgba(255,255,255,0.1);
    }

    p {
      max-width: 12%;

      &:nth-child(3) {
        max-width: 15%;
      }
    }

    .delete-issue-button {
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background: red;
      color: white;
    }
  }
}