.report-title {
  width: 1200px;
  text-align: left;
  font-size: 1.5rem;
}

.report-screen {
  width: 90vw;
  min-width: 1200px;
  min-height: 400px;
  max-height: 70vh;
  color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-between;
  background: var(--feature-element-color);
  color: white;

  .report-results {

    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .report-results-titles {
      display: flex;
      justify-content: space-between;
      background: var(--minor-feature-element-color);
      width: 99%;
      padding: 0.5rem;
      border-bottom: 1px solid white;

      div {
        width: 20%;
        padding: 0.3rem 0;
        justify-content: center;
      }

      .report-sequence-col {
        width: 7%;
      }
    }
    .report-results-list {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .report-result-item {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        

        div {
          width: 20%;
          padding: 0.3rem 0;
          justify-content: center;
        }

        .report-sequence-col {
          width: 7%;
          text-align: center;
        }
      }

      & > :nth-child(2n) {
        background-color: rgba(237, 237, 237, 0.1);
      }
      
      & > :nth-child(2n  + 1) {
        background-color: rgba(237, 237, 237, 0.3);
      }
    }
  }

  // & > .report-results {
  //   width: 100%;
  //   overflow-y: scroll;

  //   div {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     padding: 0.3rem 2rem;

  //     & :last-child div {
  //       display: flex;
  //       flex-direction: column;
  //     }
  //   }

  //   & > div div {
  //     width: 20%;
  //     display: flex;
  //     justify-content: center;
  //   }

    
  //   .report-sequence-col {
  //     width: 7%;
  //   }
    
  //   & > :nth-child(2n) {
  //     background-color: rgba(237, 237, 237, 0.1);
  //   }
    
  //   & > :nth-child(2n  + 1) {
  //     background-color: rgba(237, 237, 237, 0.3);
  //   }

  //   & > :first-child {
  //     background: var(--minor-feature-element-color);
  //   }
  // }

  .report-figures {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--minor-feature-element-color);
  }
  
}