.searchChoice__form {
  width: 1200px;
  color: white;
  flex-direction: column;
  align-items: space-around;
}

.searchChoice__form .searchCriteria {
  background: rgba(104, 135, 219, 0.3);
  padding: 16px 16px 10px;
}

.searchChoice__form .searchBoxes {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.searchChoice__form .searchBoxes .longInput {
  width: 300px;
}

.searchChoice__form .searchBoxes .shorterInput {
  width: 100px;
}

.searchChoice__form .searchBoxes .shortInput {
  width: 140px;
}

.searchChoice__form .searchBoxes .midInput {
  width: 280px;
}

// .returnedResults, .returnedResultsTech {
//   display: flex;
//   flex-direction: column;
// }

// .returnedResults div {
//   width: 100%;
//   display: flex;
//   margin-bottom: 0.5rem;
//   padding-bottom: 1rem;
//   border-bottom: 1px solid white;
// }

.returnedResults {
  .resultTitles {
    padding: 0 1rem;
    background: rgba(0, 0, 20, 0.4);
    p {
      margin: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  .resultTitles, .resultContent .resultRows {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid white;
  }

  .resultContent {
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;

    .resultRows {
      padding: 0.5rem 1rem 0;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .patientResult {
    padding-left: 1rem;
    width: 10%;
    &:first-child {
      width: 6%;
      padding-left: 0;
    }
    &:nth-child(8) {
      width: 12%;
    }
    &:nth-child(9) {
      width: 12%;
    }
    &:last-child {
      border-bottom: 0;
    }
  }

  .techResult {
    padding-left: 1rem;
    width: 10%;
    &:first-child(1) {
      padding-left: 0;
    }
    &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(5) {
      width: 25%;
    }
    &:nth-child(6) {
      width: 15%;
    }
  }
}

.search-noResults {
  margin: 1rem;
}

  // .shorterResult {
  //   width: 100px;
  // }
  // .shortResult {
  //   width: 150px;
  // }
  // .longResult {
  //   width: 250px;
  // }
  // .longerResult {
  //   width: 350px;
  //   background: red;
  // }


// .returnedResults .resultContent {
//   max-height: 50vh;
//   overflow-y: auto;
//   overflow-x: hidden;
//   display: flex;
//   flex-direction: column;
//   border-bottom: none;
// }

// .returnedResults div p {
//   padding: 0 1rem;
//   margin: 0;
//   text-align: left;
//   min-width: 130px;
//   font-size: 0.8rem;
// }

// .selectBoxSize {
//   min-width: 120px;
// }

// .resultTitles {
//   width: 100%;
//   padding: 0.3rem 0 0.1rem;
//   background: rgba(0, 0, 20, 0.4);
// }

// .shorterResult {
//   width: 8%;
// }

// .shortResult {
//   width: 12%;
// }

// .longResult {
//   width: 115px;
//   background: red;
// }

// .shorterResultTech {
//   width: 8%;
// }

// .shortResultTech {
//   width: 12%;
// }

// .longResultTech {
//   width: 15%;
// }

// .searchBoxes span {
//   opacity: 80%;
//   margin: 0 0.5rem;
// }

// .resultTitles {
//   display: flex;
//   justify-content: space-between;
//   background: orange;
// }