*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-background-color);
}

.loginScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
  margin-bottom: 4rem;
  width: 450px;
  height: 350px;
  border-radius: 6px;
  background: var(--feature-element-color);
  color: white;
  box-shadow: 0 20px 15px 5px rgba(0, 0, 0, 0.35);
  outline: 1px solid white;
  outline-offset: -10px;

  h2 {
    text-align: center;
    color: white;
  }

  div {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}